.header {
  color: black !important;
  background-color: #002a3c !important;
  padding: 40px !important;
  font-size: 30px !important;
}
@media only screen and (max-width: 601px) {
  .header .cabeceraHeader {
    display: flex !important;
    justify-content: left !important;
  }
  .header .titulo {
    display: none !important;
  }
  .header .nuevo-menu {
    text-align: left !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .header .nuevo-menu ul li {
    font-size: 15px !important;
    display: inline-block !important;
  }
  .header .Redes {
    font-size: 25px !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header .cabeceraHeader {
    display: flex;
    justify-content: left;
  }
  .header .titulo {
    display: none;
  }
  .header .nuevo-menu {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  .header .nuevo-menu ul li {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .header .cabeceraHeader {
    display: flex;
    justify-content: left;
  }
  .header .titulo {
    display: none;
  }
  .header .nuevo-menu {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  .header .nuevo-menu li {
    font-size: 30px;
  }
}

.instagram {
  display: flex;
  justify-content: center;
  text-align: center;
}

.noticiaPrincipal {
  display: flex;
  justify-content: left;
  text-align: left;
}

/* menu */

.nuevo-menu {
  display: flex;
  justify-content: center;
  background-color: grey;
}

/* bodys */
body {
  background-color: #002a3c !important;
  color: aliceblue !important;
  font-family: "Abel" !important;
  /* index-principal */
}
body .noticiaContainer {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
body .titulo-inicio {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 30px !important;
}
body .parrafo-inicio {
  font-size: 30px !important;
}
body .Combos {
  font-size: 50px !important;
  text-align: center !important;
  padding-top: 40px !important;
  padding-bottom: 40px;
  color: #002a3c;
}
body .masVendido {
  display: flex !important;
  justify-content: space-evenly !important;
  flex-wrap: wrap !important;
}
body .verMas {
  text-align: right;
}
.verMas a {
  background-color: #002a3c !important;
  color:aliceblue !important;
  text-decoration: none;
  position:relative;
  right: 80px;
  padding: 7px;
}
.fondo-section-inicio {
  background-color: aliceblue;
}
body .Redes {
  text-align: center !important;
  font-size: 50px !important;
  padding-top: 40px !important;
}
body .imagen-combo1:hover {
  transform: scale(1.3) !important;
}
body .imagen-combo2:hover {
  transform: scale(1.3) !important;
}
body .imagen-combo3:hover {
  transform: scale(1.3) !important;
}

/* pagina historia */

.flex {
  display: flex;
  justify-content: center;
}

.historia-parrafo {
  width: 500px;
  height: 500px;
  margin: 20px;
}

/* pagina productos */

/* grids */

.productos-container {
  text-align: center;
  margin: 40px;
  padding-top: 50px;
} 

.section-noticias-grid {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 1fr 1fr;
  row-gap: 0px;
  column-gap: 5px;
  grid-template-areas:
    "noticia-1 noticia-1 noticia-2"
    "noticia-1 noticia-1 noticia-3";
}

.noticia-principal {
  grid-area: noticia-1;
}

.titulo-noticia-principal {
  text-decoration: none;
  color: aliceblue;
  font-family: "Kanit", sans-serif;
  font-size: 28px;
  position: relative;
  bottom: 90px;
  left: 90px;
}

.encabezado-noticia-principal {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: black;
  position: relative;
  top: 30px;
  left: 30px;
}

.noticia-2 {
  grid-area: noticia-2;
  margin-bottom: -25px;
}

.encabezado-noticia-2 {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: black;
  position: relative;
  top: 30px;
  left: 30px;
}

.titulo-noticia-2 {
  text-decoration: none;
  color: aliceblue;
  font-family: "Kanit", sans-serif;
  font-size: 22px;
  position: relative;
  bottom: 70px;
  left: 30px;
}

.noticia-3 {
  grid-area: noticia-3;
  margin-top: -55px;
}

.encabezado-noticia-3 {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: black;
  position: relative;
  top: 30px;
  left: 30px;
}

.titulo-noticia-3 {
  text-decoration: none;
  color: aliceblue;
  font-family: "Kanit", sans-serif;
  font-size: 22px;
  position: relative;
  bottom: 70px;
  left: 30px;
}
/* final grids */

/* pagina combos */

.combos-container {
  display: flex;
  flex-direction: row-reverse;
}

.combos-imagenes {
  padding: 50px;
  justify-content: center;
}


/* MOBILE STYLES */

@media only screen and (max-width: 601px){
  .nuevo-carrucel {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center !important;
      padding-left: 50px !important;
  }

  .titulo-inicio {
      font-size: 15px;
  }

  .masVendido {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .imagen-noticia {
      height: 270px;
  }

  .parrafo-inicio {
      font-size: 10px;
      display: flex;
  }

  .imagen-3 {
      height: 280px;
  }

  .Redes {
      font-size: 25px;
  }

}

/* TABLET STYLES */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .titulo-inicio {
      font-size: 25px;
  }

  .imagen-noticia {
      height: 270px;
  }

  .parrafo-inicio {
      font-size: 20px;
      display: flex;
  }

  .imagen-3 {
      height: 280px;
  }
}

/* DESKTOP STYLES */

@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .titulo-inicio {
      font-size:30px;
  }

  .imagen-noticia {
      height: 260px;
  }

  .parrafo-inicio {
      font-size: 30px;
      display: flex;
  }

  .masVendido {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .imagen-3 {
      height: 280px;
  }
}

/*# sourceMappingURL=style.css.map */
