$bg-color: #002a3c;
$p-general: 40px;


.header {
    color: black !important;
    background-color:$bg-color !important;
    padding: $p-general !important;
    font-size: 30px !important;
    @media only screen and (max-width: 601px) {
        .cabeceraHeader {
            display: flex !important;
            justify-content: left !important;
        }
    
        .titulo{
            display: none !important;
        }
    
        .nuevo-menu {
            text-align: left !important;
            display: flex !important;
            flex-wrap: wrap !important;
        }
    
        .nuevo-menu ul li {
            font-size: 15px !important;
            display: inline-block !important;
        }

        .Redes {
            font-size: 25px !important;
        }
    }

    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        .cabeceraHeader {
            display: flex;
            justify-content: left;
        }
        .titulo{
            display: none;
        }
    
        .nuevo-menu {
            text-align: left;
            display: flex;
            flex-wrap: wrap;
        }
    
        .nuevo-menu ul li {
            font-size: 20px;
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1600px) {
        .cabeceraHeader {
            display: flex;
            justify-content: left;
        }
    
        .titulo{
            display: none;
        }
    
        .nuevo-menu {
            text-align: left;
            display: flex;
            flex-wrap: wrap;
        }
    
        .nuevo-menu li {
            font-size: 30px;
        }
    }
}