$maps-body: (
    body: #002a3c,
    word: aliceblue,
    font1:'Righteous',
    pd-top: 40px,
    pd-bottom: 30px, 
    titulos: 50px,
    subtitulos: 40px,
    texto: 30px,
);

$maps-social: (
    IG: pink,
    tiktok: black,
    twitter: blue,
);

/* bodys */

body {
    background-color: map-get($maps-body, body) !important;
    color: map-get($maps-body, word) !important;
    font-family: map-get($maps-body, font1) !important;
    /* index-principal */

    .noticiaPrincipal {
        margin-left: 210px!important;
        margin-right: 210px !important;
        padding: 50px 0;
    }

    .titulo-inicio {
        padding-top: 60px;
        display: flex;
        justify-content: center;
        font-size: 70px;
        font-family: 'Great Vibes', cursive;
    }

    .imagen-noticia-principal {
        border: #883f0a solid 10px;
        border-radius: 10px;
        position: relative;
        left: 45px;
        filter: drop-shadow(0 0 0.5rem black);
    }

    .parrafo-inicio {
        font-size: map-get($maps-body,texto)!important;
        padding-top: 50px;
        position: relative;
        right: 50px;
        filter: drop-shadow(0 0 0.5rem black);
    }

    .noticiaContainer {
        background-color:#b4ac9d;
    }

    .Combos {
        font-size: 70px;
        text-align: center!important;
        color: #002a3c;
        padding-bottom: 10px;
        font-family: 'Great Vibes', cursive;
    }

    .masVendido {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap!important;
        padding-top: 20px;
        filter: drop-shadow(0 0 0.5rem black);
    }

    .card-text {
        color:#002a3c;
    }

    .verMas {
        background-color:map-get($maps-body, word )!important;
        color:map-get($maps-body, body )!important;
        margin-left: 40px!important;
        margin-right: 40px!important;
        text-align: right;
    }

    .verMas a {
        color: aliceblue;
        background-color: #002a3c;
        text-decoration: none;
        padding: 20px;
        font-size: 20px;
    }

    .fondo-section-inicio {
        background-color: aliceblue;
        padding-top: 50px!important;
        padding-bottom: 50px;
    }
    
    .Redes {
        text-align: center!important;
        font-size:map-get($maps-body, titulos )!important;
        padding-top:map-get($maps-body, pd-top )!important;
    }
    
    .imagen-combo1:hover {
        transform: scale(1.2)!important;
        transition: 1s;
        border-radius: 10px;
    }
    
    .imagen-combo2:hover {
        transform: scale(1.2)!important;
        transition: 1s;
        border-radius: 10px;
    }
    
    .imagen-combo3:hover {
        transform: scale(1.2)!important;
        transition: 1s;
        border-radius: 10px;
    }

    .carousel {
        padding: 40px 170px;
    }

    .carousel-fondo {
        background-image: url(../../imágenes/Chocolate-coffee.jpg) !important;
    }
      
    /* pagina historia */
      
    .flex {
        display: flex;
        justify-content: center;
    }
      
    .historia-parrafo {
        width: 500px;
        height: 500px;
        margin: 20px;
    }
}



